.footer{
  background-color: #000000;
}

.footer__icons{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  flex-wrap: wrap;
}
.footer__links{
  background-color: #000000;
  transition: all 0.5s;
  /* margin-top: 30px; */
  font-size: 18px;
  padding: 10px;
  color: aliceblue;
}
.footer__links:hover{
  transform: scale(1.5);
}

.footer__text{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
}